

#new {
    animation: heading-motto 0.7s 1;
    animation-delay: 0;
}

#fashion {
    animation: heading-motto 0.7s 1;
    animation-delay: 0.1s;
}

#every {
    animation: heading-motto 0.7s 1;
    animation-delay: 0.2s;
}

#week {
    animation: heading-motto 0.7s 1;
    animation-delay: 0.3s;
}
#sign {
    animation: heading-motto 0.7s 1;
    animation-delay: 0.4s;
}

@keyframes heading-motto {
    from {
        color: black;
        
    }
    to {
        color: gold;
        transform: scale(1.02);
    }
}
